<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeadHunt</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    
    <div class="top-nav">
  {% if logged_in %}
    <a href="/create">Create Landing Page</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
  {% else %}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {% endif %}
</div>

    <section class="hero">
        

        <div class="hero-content">
            <h1 class="brand">
                LeadHunt
            </h1>
            <h2 class="headline">
                Create High-Converting Landing Pages Instantly
            </h2>


            <p class="subtext">
                Generate a custom landing page with a unique link and start capturing leads in minutes.
            </p>


            <a href="/create" class="cta-btn">
                Create Landing Page
            </a>
        </div>
    </section>
</body>
</html>